#title {
  text-align: center;
  font-family: arial, sans-serif;
}

#currItunes {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
}

#currItunes td, #currItunes th {
  border: 1px solid #ddd;
  padding: 8px;
}

#currItunes tr:nth-child(even){background-color: #f2f2f2;}

#currItunes tr:hover {background-color: #ddd;}

#currItunes th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: rgb(139, 174, 194);
  color: white;
}

.margin-top {
  margin-top:30px;
}

.form-data{
  width:30%; 
  margin-left:20%;
  direction: rtl;
  margin-top:2%;
}

.elements-design{
  margin-left:40%;
}